---
import Price from "../components/Price.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Saber más">
    <h1 class="text-white pt-20 text-center text-4xl font-medium">SABER MÁS</h1>

    <Price />


</Layout>
