---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import PowerliftingSection from "../components/PowerliftingSection.astro";
import SweatSection from "../components/SweatSection.astro";
import PilatesSection from "../components/PilatesSection.astro";
import Landing from "../components/Landing.astro";
import Coach from "../components/Coach.astro";
---

<Layout title="Best Studio">
	<Header class="h-12 w-full"/>

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
		<div class="snap-center">
			<!-- <Landing /> -->
		</div>
		<div class="snap-center">
			<Coach />
		</div>
<!-- 		<div class="snap-center">
			<PowerliftingSection />
		</div>
		<div class="snap-center">
			<SweatSection />
		</div>
		<div class="snap-center">
			<PilatesSection />
		</div> -->
	</main>
</Layout>

<style></style>
