---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import Coach from "../components/Coach.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Best Studio">
	<Header class="h-12 w-full"/>

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
<!-- 		<div class="snap-center">
			<Landing />
		</div> -->
		<div class="snap-center">
			<Coach />
		</div>
 		<div class="snap-center">
			<Footer />
		</div>

	</main>
</Layout>

<style></style>
