---
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import GymSection from "../components/GymSection.astro";
import PowerliftingSection from "../components/PowerliftingSection.astro";
import SweatSection from "../components/SweatSection.astro";
import PilatesSection from "../components/PilatesSection.astro";
---

<Layout title="Best Studio">
	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<GymSection />
		</div>
		<div class="snap-center">
			<PowerliftingSection />
		</div>
		<div class="snap-center">
			<SweatSection />
		</div>
		<div class="snap-center">
			<PilatesSection />
		</div>
	</main>
</Layout>

<style></style>
