---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import Coach from "../components/Coach.astro";
import Expectations from "../components/Expectations.astro";
---

<Layout title="Best Studio">
	<div class="snap-center">
		<Landing />
	</div>
	<div class="snap-start">
		<Coach />
	</div>
	<div class="snap-center">
		<Expectations />
	</div>
</Layout>

<style></style>
