---
import Layout from "../layouts/Layout.astro";
title: "Política de Privacidad";
description: "Política de Privacidad de Best Studio, en cumplimiento del RGPD y otras normativas de protección de datos.";
---

<Layout
  title="Política de Privacidad"
  description="Política de Privacidad de Best Studio, en cumplimiento del RGPD y otras normativas de protección de datos."
>
  <section class="text-white bg-black p-8 md:px-16 lg:px-32">
    <h1 class="text-2xl md:text-3xl font-semibold mb-4">
      Política de Privacidad
    </h1>

    <p class="mb-4">
      En Best Studio, estamos comprometidos con la protección de la privacidad
      de nuestros usuarios. Esta Política de Privacidad describe cómo
      recopilamos, utilizamos y compartimos su información personal de acuerdo
      con el Reglamento General de Protección de Datos (RGPD) y otras normativas
      aplicables.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      1. Identidad del Responsable
    </h2>
    <p class="mb-4">
      Responsable del Tratamiento: Best Studio <br />
      Dirección: C/ Curtidores, 16, 23740 Andújar, Jaén <br />
      Correo electrónico: info@beststudio.com <br />
      CIF/NIF: [Número de identificación fiscal si aplica] <br />
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      2. Información que Recopilamos
    </h2>
    <p class="mb-4">
      Podemos recopilar y tratar los siguientes tipos de datos personales: -
      Datos de identificación: nombre, apellidos, dirección de correo
      electrónico. - Datos de navegación: dirección IP, tipo de navegador,
      duración de la visita. - Cualquier otra información que proporcione a
      través de formularios en el sitio web.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      3. Finalidad del Tratamiento de los Datos
    </h2>
    <p class="mb-4">
      Utilizamos sus datos personales para los siguientes fines: - Proveer los
      servicios solicitados a través de nuestro sitio web. - Gestionar consultas
      y comunicaciones enviadas por el usuario. - Mejorar la experiencia de
      usuario y optimizar el rendimiento del sitio. - Cumplir con nuestras
      obligaciones legales.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      4. Base Jurídica para el Tratamiento
    </h2>
    <p class="mb-4">
      Tratamos sus datos personales en base a las siguientes justificaciones
      legales: - Ejecución de un contrato, cuando solicite nuestros servicios. -
      Consentimiento expreso proporcionado al contactar con nosotros o
      suscribirse a boletines. - Cumplimiento de obligaciones legales.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      5. Plazo de Conservación de los Datos
    </h2>
    <p class="mb-4">
      Los datos personales se conservarán mientras sean necesarios para el
      cumplimiento de los fines para los que fueron recogidos y, posteriormente,
      durante el tiempo exigido por las normativas vigentes para el cumplimiento
      de obligaciones legales.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      6. Destinatarios de los Datos
    </h2>
    <p class="mb-4">
      Sus datos personales no serán vendidos, alquilados ni cedidos a terceros.
      En algunos casos, podemos compartir datos con proveedores de servicios
      para facilitar nuestras operaciones, pero siempre bajo estrictos acuerdos
      de confidencialidad.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      7. Derechos del Usuario
    </h2>
    <p class="mb-4">
      Usted tiene derecho a: - Acceder a sus datos personales y solicitar una
      copia. - Solicitar la rectificación de sus datos si son inexactos. -
      Solicitar la supresión de sus datos cuando ya no sean necesarios para los
      fines para los que fueron recogidos. - Oponerse al tratamiento de sus
      datos o solicitar su limitación. - Solicitar la portabilidad de sus datos.
      Para ejercer estos derechos, puede ponerse en contacto con nosotros en la
      dirección de correo electrónico proporcionada anteriormente.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      8. Seguridad de los Datos
    </h2>
    <p class="mb-4">
      En Best Studio tomamos todas las medidas técnicas y organizativas
      necesarias para proteger sus datos personales frente a accesos no
      autorizados, pérdida o destrucción.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mt-8 mb-2">
      9. Modificaciones a la Política de Privacidad
    </h2>
    <p class="mb-4">
      Nos reservamos el derecho de modificar esta Política de Privacidad en
      cualquier momento para adaptarla a novedades legislativas o de nuestros
      servicios. Las modificaciones serán publicadas en este sitio web.
    </p>
  </section>
</Layout>
