---
import ButtonAnimated from "./ButtonAnimated.astro";
---

<section class="relative w-full overflow-hidden h-screen">
  <!-- Contenedor de las diapositivas -->
  <div
    id="carousel"
    class="flex transition-transform duration-1000 ease-in-out"
  >
    <!-- Diapositiva 1 -->
    <div class="min-w-full">
      <img
        src="/1inicio.jpg"
        alt="Imagen 1"
        class="w-full h-full object-cover"
      />
    </div>
    <!-- Diapositiva 2 -->
    <div class="min-w-full">
      <img
        src="/2inicio.jpg"
        alt="Imagen 2"
        class="w-full h-full object-cover"
      />
    </div>
    <!-- Diapositiva 3 -->
    <div class="min-w-full">
      <img
        src="/3inicio.jpg"
        alt="Imagen 3"
        class="w-full h-full object-cover"
      />
    </div>
    <!-- Diapositiva 4 -->
    <div class="min-w-full">
      <img
        src="/4inicio.jpg"
        alt="Imagen 4"
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <!-- Letras superpuestas -->
  <div
    class="absolute inset-0 z-30 flex flex-col justify-between h-full text-center"
  >
    <header class="mt-20">
      <h2
        id="main-heading"
        class="text-white text-bold pt-40 text-8xl xl:text-9xl font-bold opacity-0 animate-fade-in"
      >
        KING OF GYMS
      </h2>
      <p
        id="sub-heading"
        class="text-white text-4xl xl:text-6xl opacity-0 animate-fade-in delay-1000"
      >
        Crece entrenando, mejora tu vida
      </p>
    </header>
    <div class="flex flex-col flex-grow flex-nowrap justify-end pb-28 xl:pb-48">
      <div class="opacity-0 animate-flip-down animate-delay-[3000ms]">
        <ButtonAnimated />
      </div>
    </div>
  </div>
</section>

<script>
  const carousel = document.getElementById("carousel");
  const slides = carousel.children;
  let currentIndex = 0;

  function updateCarousel() {
    carousel.style.transition = "transform 1s ease, opacity 1s ease";
    carousel.style.transform = `translateX(-${currentIndex * 100}%)`;
    carousel.style.opacity = "0";

    setTimeout(() => {
      carousel.style.opacity = "1";
    }, 50);
  }

  // Cambio automático cada 3 segundos
  function autoSlide() {
    currentIndex = (currentIndex + 1) % slides.length;
    updateCarousel();
  }

  setInterval(autoSlide, 3000);
</script>
