<section id="clases">
    <h1 class="text-white p-4 pt-20 text-center text-4xl font-bold">CLASES</h1>
    <section class="flex flex-wrap gap-4 justify-center">
        <a href="#wod">
            <img src="crossfit.jpg" alt="WOD" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#sweat">
            <img src="sweat2.jpg" alt="Sweat" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#openbox">
            <img src="openbox.jpg" alt="Open box" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#machines">
            <img src="gym.jpg" alt="Machines" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#powerlifting">
            <img src="powerlifting.jpg" alt="Powerlifting" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#pilates">
            <img src="pilates.jpg" alt="Pilates" class="w-36 h-36 object-cover rounded hover-effect">
        </a>

    </section>
    
    <section>

        <!-- Fondo blanco -->
        <article id="wod" class="w-full mx-auto mt-10 shadow-lg bg-white text-black">
            <div class="flex flex-col xl:flex-row xl:items-stretch">
                <!-- Contenedor para el Título y Párrafos -->
                <div class="order-2 xl:order-1 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">WOD</h2>
                    <div>
                        <p class="mb-4"><strong>Entrenamientos de alta intensidad que combinan una gran variedad de ejercicios metabólicos, de fuerza, halterofilia y gimnasia.</strong></p>
                        <p class="mb-4">Nuestros entrenamientos son únicos cada día y se desarrollan en grupos de hasta 20 personas, asegurando un ambiente motivador y divertido. <strong>Con cada sesión, te enfrentarás al desafío de superar tus propios límites, todo mientras compites contra el reloj.</strong></p>
                        <p class="mb-4">En Best Studio, nuestros coaches son profesionales altamente cualificados que te enseñarán las técnicas correctas. Supervisamos de manera individual la ejecución de cada movimiento para que aprendas algo nuevo en cada entrenamiento y lo hagas de manera segura y efectiva.</p>
                        <p class="mb-4"><strong>Nuestro enfoque inclusivo permite que cualquier persona, sin importar su nivel, sexo o edad, pueda participar y beneficiarse de nuestros entrenamientos.</strong></p>
                        <p class="mb-4">Empieza a entrenar como un verdadero atleta y descubre todo el potencial que llevas dentro.</p>
                    </div>
                </div>
                <!-- Contenedor para la Imagen -->
                <div class="order-1 xl:order-2 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="crossfit.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>

        <!-- Fondo negro -->
        <article id="sweat" class="w-full mx-auto shadow-lg bg-black text-white">
            <div class="flex flex-col xl:flex-row xl:items-stretch">
                <!-- Contenedor para el Título y Párrafos -->
                <div class="order-2 xl:order-2 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">SWEAT</h2>
                    <div>
                        <p class="mb-4"><strong>Nuestro programa SWEAT está diseñado para llevar tu resistencia cardiovascular al siguiente nivel. A través de una combinación de ejercicios dinámicos y variados, te ayudamos a mejorar tu condición física general mientras quemas calorías y te diviertes.</strong></p>
                        <p class="mb-4">Cada sesión incluye una serie de ejercicios que emplean mancuernas, kettlebells, y bandas de resistencia. <strong>Nos enfocamos en movimientos funcionales y de alta intensidad</strong> que trabajan todo el cuerpo, garantizando un entrenamiento completo y equilibrado.</strong></p>
                        <p class="mb-4">El núcleo del programa se centra en ejercicios cardiovasculares y metabólicos que desafiarán tu resistencia. Desde carreras y remo hasta sesiones intensas en bicicleta, <strong>cada entrenamiento está diseñado para mantener tu ritmo cardíaco elevado y mejorar tu capacidad aeróbica.</strong> Integramos también movimientos explosivos como saltos al cajón y wallballs, así como combinaciones con dumbbells y kettlebells, para asegurar una quema calórica óptima y un desarrollo muscular equilibrado.</p>
                    </div>
                </div>
                <!-- Contenedor para la Imagen -->
                <div class="order-1 xl:order-1 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="sweat.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>

                <!-- Fondo blanco -->
                <article id="openbox" class="w-full mx-auto mt-10 shadow-lg bg-white text-black">
                    <div class="flex flex-col xl:flex-row xl:items-stretch">
                        <!-- Contenedor para el Título y Párrafos -->
                        <div class="order-2 xl:order-1 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                            <h2 class="text-center text-xl font-bold mb-4">OPEN BOX</h2>
                            <div>
                                <p class="mb-4"><strong>Un Open Box en crossfit consiste principalmente en un entrenamiento libre,</strong> es decir, el atleta tiene acceso tanto al material como a las instalaciones del box para realizar ejercicio.</p>
                                <p class="mb-4">Te permitirá:</p>
                                <ol>
                                    <li>Recuperar entrenamientos perdidos.</li>
                                    <li>Realizar una planificación diferente para competición o adaptada a tus necesidades.</li>
                                    <li>Mejora de movilidad y estiramientos.</li>
                                    <li>Enfocarte en tus debilidades y fortalezas.</li>
                                    <li>Descanso activo, realizando ejercicios cardiovasculares ligeros para facilitar la recuperación.</li>
                                </ol>
                            </div>
                        </div>
                        <!-- Contenedor para la Imagen -->
                        <div class="order-1 xl:order-2 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                            <img src="openbox.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                        </div>
                    </div>
                </article>

                <!-- Fondo negro -->
                <article id="machines" class="w-full mx-auto shadow-lg bg-black text-white">
                    <div class="flex flex-col xl:flex-row xl:items-stretch">
                        <!-- Contenedor para el Título y Párrafos -->
                        <div class="order-2 xl:order-2 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                            <h2 class="text-center text-xl font-bold mb-4">MACHINES</h2>
                            <div>
                                <p class="mb-4"><strong>Nuestro programa SWEAT está diseñado para llevar tu resistencia cardiovascular al siguiente nivel. A través de una combinación de ejercicios dinámicos y variados, te ayudamos a mejorar tu condición física general mientras quemas calorías y te diviertes.</strong></p>
                                <p class="mb-4">Cada sesión incluye una serie de ejercicios que emplean mancuernas, kettlebells, y bandas de resistencia. <strong>Nos enfocamos en movimientos funcionales y de alta intensidad</strong> que trabajan todo el cuerpo, garantizando un entrenamiento completo y equilibrado.</strong></p>
                                <p class="mb-4">El núcleo del programa se centra en ejercicios cardiovasculares y metabólicos que desafiarán tu resistencia. Desde carreras y remo hasta sesiones intensas en bicicleta, <strong>cada entrenamiento está diseñado para mantener tu ritmo cardíaco elevado y mejorar tu capacidad aeróbica.</strong> Integramos también movimientos explosivos como saltos al cajón y wallballs, así como combinaciones con dumbbells y kettlebells, para asegurar una quema calórica óptima y un desarrollo muscular equilibrado.</p>
                            </div>
                        </div>
                        <!-- Contenedor para la Imagen -->
                        <div class="order-1 xl:order-1 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                            <img src="gym.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                        </div>
                    </div>
                </article>

        <!-- Fondo blanco -->
        <article id="powerlifting" class="w-full mx-auto mt-10 shadow-lg bg-white text-black">
            <div class="flex flex-col xl:flex-row xl:items-stretch">
                <!-- Contenedor para el Título y Párrafos -->
                <div class="order-2 xl:order-1 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">POWERLIFTING</h2>
                    <div>
                        <p class="mb-4"><strong>Entrenamientos de alta intensidad que combinan una gran variedad de ejercicios metabólicos, de fuerza, halterofilia y gimnasia.</strong></p>
                        <p class="mb-4">Nuestros entrenamientos son únicos cada día y se desarrollan en grupos de hasta 20 personas, asegurando un ambiente motivador y divertido. <strong>Con cada sesión, te enfrentarás al desafío de superar tus propios límites, todo mientras compites contra el reloj.</strong></p>
                        <p class="mb-4">En Best Studio, nuestros coaches son profesionales altamente cualificados que te enseñarán las técnicas correctas. Supervisamos de manera individual la ejecución de cada movimiento para que aprendas algo nuevo en cada entrenamiento y lo hagas de manera segura y efectiva.</p>
                        <p class="mb-4"><strong>Nuestro enfoque inclusivo permite que cualquier persona, sin importar su nivel, sexo o edad, pueda participar y beneficiarse de nuestros entrenamientos.</strong></p>
                        <p class="mb-4">Empieza a entrenar como un verdadero atleta y descubre todo el potencial que llevas dentro.</p>
                    </div>
                </div>
                <!-- Contenedor para la Imagen -->
                <div class="order-1 xl:order-2 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="powerlifting.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>

        <!-- Fondo negro -->
        <article id="pilates" class="w-full mx-auto shadow-lg bg-black text-white">
            <div class="flex flex-col xl:flex-row xl:items-stretch">
                <!-- Contenedor para el Título y Párrafos -->
                <div class="order-2 xl:order-2 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">PILATES</h2>
                    <div>
                        <p class="mb-4"><strong>Nuestro programa SWEAT está diseñado para llevar tu resistencia cardiovascular al siguiente nivel. A través de una combinación de ejercicios dinámicos y variados, te ayudamos a mejorar tu condición física general mientras quemas calorías y te diviertes.</strong></p>
                        <p class="mb-4">Cada sesión incluye una serie de ejercicios que emplean mancuernas, kettlebells, y bandas de resistencia. <strong>Nos enfocamos en movimientos funcionales y de alta intensidad</strong> que trabajan todo el cuerpo, garantizando un entrenamiento completo y equilibrado.</strong></p>
                        <p class="mb-4">El núcleo del programa se centra en ejercicios cardiovasculares y metabólicos que desafiarán tu resistencia. Desde carreras y remo hasta sesiones intensas en bicicleta, <strong>cada entrenamiento está diseñado para mantener tu ritmo cardíaco elevado y mejorar tu capacidad aeróbica.</strong> Integramos también movimientos explosivos como saltos al cajón y wallballs, así como combinaciones con dumbbells y kettlebells, para asegurar una quema calórica óptima y un desarrollo muscular equilibrado.</p>
                    </div>
                </div>
                <!-- Contenedor para la Imagen -->
                <div class="order-1 xl:order-1 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="pilates.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>
    </section>
</section>

<style>
    .hover-effect {
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .hover-effect:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }
</style>