<main>
    <h1 class="text-white p-4 pt-16 text-center text-2xl font-bold">CLASES</h1>
    <section class="flex flex-wrap gap-4 justify-center">
        <a href="#wod">
            <img src="crossfit.jpg" alt="WOD" class="w-36 h-36 object-cover">
        </a>
        <a href="#sweat">
            <img src="sweat2.jpg" alt="Sweat" class="w-36 h-36 object-cover">
        </a>
        <a href="#openbox">
            <img src="openbox.jpg" alt="Open box" class="w-36 h-36 object-cover">
        </a>
        <a href="#machines">
            <img src="gym.jpg" alt="Machines" class="w-36 h-36 object-cover">
        </a>
        <a href="#powerlifting">
            <img src="powerlifting.jpg" alt="Powerlifting" class="w-36 h-36 object-cover">
        </a>
        <a href="#pilates">
            <img src="pilates.jpg" alt="Pilates" class="w-36 h-36 object-cover">
        </a>

    </section>
    
    <section class="w-full mx-auto">
        <article id="wod" class="mt-6 shadow-lg bg-white text-black">
            <div class="xl:flex xl:items-stretch">
                <div class="w-full xl:w-2/5 flex flex-col justify-center">
                    <h2 class="text-center p-4 text-xl font-bold">WOD</h2>
                    <div class="mb-4">
                        <p class="mb-4"><strong>Entrenamientos de alta intensidad que combinan una gran variedad de ejercicios metabólicos, de fuerza, halterofilia y gimnasia.</strong></p>
                        <p class="mb-4">Nuestros entrenamientos son únicos cada día y se desarrollan en grupos de hasta 20 personas, asegurando un ambiente motivador y divertido. <strong>Con cada sesión, te enfrentarás al desafío de superar tus propios límites, todo mientras compites contra el reloj.</strong></p>
                        <p class="mb-4">En Best Studio, nuestros coaches son profesionales altamente cualificados que te enseñarán las técnicas correctas. Supervisamos de manera individual la ejecución de cada movimiento para que aprendas algo nuevo en cada entrenamiento y lo hagas de manera segura y efectiva.</p>
                        <p class="mb-4"><strong>Nuestro enfoque inclusivo permite que cualquier persona, sin importar su nivel, sexo o edad, pueda participar y beneficiarse de nuestros entrenamientos.</strong></p>
                        <p class="mb-4">Empieza a entrenar como un verdadero atleta y descubre todo el potencial que llevas dentro.</p>
                    </div>
                </div>
                <div class="w-full xl:w-3/5 xl:pl-6 flex items-center">
                    <img src="crossfit.jpg" alt="Funcional foto" class="w-full h-auto rounded xl:h-full object-cover">
                </div>
            </div>
        </article>
    </section>
</main>