---
---

<section id="clases">
    <h1 class="text-white p-4 pt-24 text-center text-4xl font-bold">CLASES</h1>
    <section class="flex flex-wrap gap-4 justify-center">
        <a href="#wod">
            <img src="crossfit.jpg" alt="WOD" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#sweat">
            <img src="sweat2.jpg" alt="Sweat" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#openbox">
            <img src="openbox.jpg" alt="Open box" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#machines">
            <img src="gym.jpg" alt="Machines" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#powerlifting">
            <img src="powerlifting.jpg" alt="Powerlifting" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
        <a href="#pilates">
            <img src="pilates.jpg" alt="Pilates" class="w-36 h-36 object-cover rounded hover-effect">
        </a>
    </section>
    
    <section id="cards" class="cards-container">
        <article id="wod" class="card w-full mx-auto mt-10 shadow-lg bg-white text-black" style="--index: 1;">
            <div class="card__content flex flex-col xl:flex-row xl:items-stretch">
                <div class="order-2 xl:order-1 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">WOD</h2>
                    <div>
                        <p class="mb-4"><strong>Entrenamientos de alta intensidad que combinan una gran variedad de ejercicios metabólicos, de fuerza, halterofilia y gimnasia.</strong></p>
                        <p class="mb-4">Nuestros entrenamientos son únicos cada día y se desarrollan en grupos de hasta 20 personas, asegurando un ambiente motivador y divertido. <strong>Con cada sesión, te enfrentarás al desafío de superar tus propios límites, todo mientras compites contra el reloj.</strong></p>
                        <p class="mb-4">En Best Studio, nuestros coaches son profesionales altamente cualificados que te enseñarán las técnicas correctas. Supervisamos de manera individual la ejecución de cada movimiento para que aprendas algo nuevo en cada entrenamiento y lo hagas de manera segura y efectiva.</p>
                        <p class="mb-4"><strong>Nuestro enfoque inclusivo permite que cualquier persona, sin importar su nivel, sexo o edad, pueda participar y beneficiarse de nuestros entrenamientos.</strong></p>
                        <p class="mb-4">Empieza a entrenar como un verdadero atleta y descubre todo el potencial que llevas dentro.</p>
                    </div>
                </div>
                <div class="order-1 xl:order-2 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="crossfit.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>

        <article id="sweat" class="card w-full mx-auto shadow-lg bg-black text-white" style="--index: 2;">
            <div class="card__content flex flex-col xl:flex-row xl:items-stretch">
                <div class="order-2 xl:order-2 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">SWEAT</h2>
                    <div>
                        <p class="mb-4"><strong>Nuestro programa SWEAT está diseñado para llevar tu resistencia cardiovascular al siguiente nivel. A través de una combinación de ejercicios dinámicos y variados, te ayudamos a mejorar tu condición física general mientras quemas calorías y te diviertes.</strong></p>
                        <p class="mb-4">Cada sesión incluye una serie de ejercicios que emplean mancuernas, kettlebells, y bandas de resistencia. <strong>Nos enfocamos en movimientos funcionales y de alta intensidad</strong> que trabajan todo el cuerpo, garantizando un entrenamiento completo y equilibrado.</strong></p>
                        <p class="mb-4">El núcleo del programa se centra en ejercicios cardiovasculares y metabólicos que desafiarán tu resistencia. Desde carreras y remo hasta sesiones intensas en bicicleta, <strong>cada entrenamiento está diseñado para mantener tu ritmo cardíaco elevado y mejorar tu capacidad aeróbica.</strong> Integramos también movimientos explosivos como saltos al cajón y wallballs, así como combinaciones con dumbbells y kettlebells, para asegurar una quema calórica óptima y un desarrollo muscular equilibrado.</p>
                    </div>
                </div>
                <div class="order-1 xl:order-1 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="sweat.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>

        <article id="openbox" class="card w-full mx-auto mt-10 shadow-lg bg-white text-black" style="--index: 3;">
            <div class="card__content flex flex-col xl:flex-row xl:items-stretch">
                <div class="order-2 xl:order-1 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">OPEN BOX</h2>
                    <div>
                        <p class="mb-4"><strong>Un Open Box en crossfit consiste principalmente en un entrenamiento libre,</strong> es decir, el atleta tiene acceso tanto al material como a las instalaciones del box para realizar ejercicio.</p>
                        <p class="mb-4">Te permitirá:</p>
                        <ol>
                            <li>Recuperar entrenamientos perdidos.</li>
                            <li>Realizar una planificación diferente para competición o adaptada a tus necesidades.</li>
                            <li>Mejora de movilidad y estiramientos.</li>
                            <li>Enfocarte en tus debilidades y fortalezas.</li>
                            <li>Descanso activo, realizando ejercicios cardiovasculares ligeros para facilitar la recuperación.</li>
                        </ol>
                    </div>
                </div>
                <div class="order-1 xl:order-2 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="openbox.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>

        <article id="machines" class="card w-full mx-auto shadow-lg bg-black text-white" style="--index: 4;">
            <div class="card__content flex flex-col xl:flex-row xl:items-stretch">
                <div class="order-2 xl:order-2 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">MACHINES</h2>
                    <div>
                        <p class="mb-4"><strong>En nuestro área de Machines, trabajamos con equipos de última generación para desarrollar tu fuerza, resistencia y forma física de manera controlada y efectiva.</strong></p>
                        <p class="mb-4">El uso de máquinas permite un enfoque más específico en ciertos grupos musculares, asegurando que trabajes de manera aislada para mejorar tu rendimiento en áreas clave. Con equipos diseñados para garantizar una ejecución correcta y segura, <strong>podrás centrarte en mejorar tu técnica y aumentar la carga de forma progresiva.</strong></p>
                        <p class="mb-4">Este entrenamiento está dirigido a maximizar la ganancia de fuerza y tono muscular, ayudando a corregir desequilibrios y a prevenir lesiones. Las máquinas que ofrecemos, desde las de musculación hasta las de cardio, <strong>son perfectas para complementar tu entrenamiento funcional</strong>, brindando estabilidad y soporte en movimientos controlados.</p>
                        <p class="mb-4">Nuestras clases en la sección de Machines son perfectas tanto para principiantes como para atletas experimentados que buscan añadir un componente estructurado a su entrenamiento. ¡Ven a trabajar tus músculos de manera precisa y eficiente!</p>
                    </div>
                </div>
                <div class="order-1 xl:order-1 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="gym.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>

        <article id="powerlifting" class="card w-full mx-auto mt-10 shadow-lg bg-white text-black" style="--index: 5;">
            <div class="card__content flex flex-col xl:flex-row xl:items-stretch">
                <div class="order-2 xl:order-1 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">POWERLIFTING</h2>
                    <div>
                        <p class="mb-4"><strong>El Powerlifting se centra en tres levantamientos básicos: sentadilla, press de banca y peso muerto.</strong> Este entrenamiento de fuerza máxima te ayudará a aumentar tu capacidad de carga y a mejorar tu técnica en estos movimientos fundamentales.</p>
                        <p class="mb-4">Nuestro programa de Powerlifting está diseñado para atletas de todos los niveles, desde principiantes que buscan aprender la técnica correcta, hasta competidores avanzados que desean mejorar sus marcas. <strong>Nos enfocamos en la progresión gradual de la carga</strong>, la corrección de la postura, y la mejora de la fuerza funcional.</p>
                        <p class="mb-4">Cada sesión está cuidadosamente estructurada para asegurar que avances de manera segura y efectiva. A través de entrenamiento dirigido y técnicas avanzadas, <strong>te ayudaremos a alcanzar tus metas de fuerza</strong> mientras previenes lesiones mediante la mejora de la movilidad y la estabilidad articular.</p>
                    </div>
                </div>
                <div class="order-1 xl:order-2 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="powerlifting.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>

        <article id="pilates" class="card w-full mx-auto shadow-lg bg-black text-white" style="--index: 6;">
            <div class="card__content flex flex-col xl:flex-row xl:items-stretch">
                <div class="order-2 xl:order-2 w-full xl:w-2/5 flex flex-col justify-center p-4 xl:p-12">
                    <h2 class="text-center text-xl font-bold mb-4">PILATES</h2>
                    <div>
                        <p class="mb-4"><strong>El Pilates es un método de entrenamiento que se centra en el control, la flexibilidad y la fuerza del core.</strong> Este enfoque de bajo impacto es ideal para mejorar la postura, aliviar el estrés y desarrollar una musculatura más equilibrada.</p>
                        <p class="mb-4">A través de una serie de ejercicios controlados y suaves, <strong>fortalecerás los músculos profundos del abdomen, la espalda y la pelvis</strong>, mejorando tu estabilidad y alineación corporal. Las sesiones de Pilates también ayudan a aumentar la flexibilidad y reducir la tensión muscular, favoreciendo un cuerpo más ágil y resistente.</p>
                        <p class="mb-4">Cada clase se adapta a tus necesidades, ya seas principiante o avanzado, garantizando una experiencia personalizada que se alinea con tus objetivos. <strong>El enfoque en la respiración y el control preciso de los movimientos</strong> te ayudará a mejorar tanto física como mentalmente, aportando equilibrio y bienestar.</p>
                        <p class="mb-4">Si buscas un entrenamiento que combine suavidad y eficacia, nuestras clases de Pilates son perfectas para desarrollar fuerza y flexibilidad en armonía.</p>
                    </div>
                </div>
                <div class="order-1 xl:order-1 w-full xl:w-3/5 flex items-center p-4 xl:p-0">
                    <img src="pilates.jpg" alt="Funcional foto" class="w-full h-auto xl:h-full xl:w-auto rounded xl:rounded-none object-cover">
                </div>
            </div>
        </article>
    </section>
</section>

<style>
:root {
    --numcards: 6; /* Número total de artículos */
}

.card {
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
    to {
        transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
}

.cards-container {
    view-timeline-name: --cards-element-scrolls-in-body;
}

.card__content {
    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc((var(--index)) / var(--numcards) * 100%);
    position: sticky;
    top: 0;
    animation: linear scale forwards;
    animation-timeline: --cards-element-scrolls-in-body;
    animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
}

.hover-effect {
    transition: transform 0.3s, box-shadow 0.3s;
}

.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
</style>
