<section class="bg-black h-screen w-screen text-center overflow-hidden relative mt-30">
  <header>
    <h2 class="text-white pt-24 text-2xl font-medium">
      ¿Es Best Studio un centro para ti?
    </h2>
  </header>
  <div class="flex flex-wrap justify-center items-stretch md:items-center">
    <div class="container p-5 m-10">
      <video
        controls
        crossorigin="anonymous"
        playsinline
        autoplay
        muted
        class="w-full h-auto max-w-xs max-h-xl"
      >
        <source src="./reel1.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container p-5 m-10">
      <video
        controls
        crossorigin="anonymous"
        playsinline
        autoplay
        muted
        class="w-full h-auto max-w-xs max-h-xl"
      >
        <source src="./reel1.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>


<style>
.container {
  max-width: 25%;
}

</style>
