<section class="flex flex-col items-center justify-center bg-black">
  <header class="mt-48">
    <h2
      class="text-white w-auto text-xl font-medium text-center md:text-4xl"
    >
      ¿Es Best Studio un centro para ti?
    </h2>
  </header>

  <div
    class="flex flex-col items-center justify-center w-full h-screen mt-2 mb-2 md:flex-row md:justify-around"
  >
    <video
      controls
      crossorigin="anonymous"
      playsinline
      autoplay
      muted
      class="w-1/2 h-full md:h-screen md:w-auto"
    >
      <source src="./reel1.mp4" type="video/mp4" />
    </video>
    <video
      controls
      crossorigin="anonymous"
      playsinline
      autoplay
      muted
      class="w-1/2 h-full mt-2 md:h-screen md:w-auto md:mt-0"
    >
      <source src="./reel1.mp4" type="video/mp4" />
    </video>
  </div>
</section>

