<section class="flex flex-col items-center justify-center bg-black">
  <header class="relative">
    <h2 class="text-white pt-14 text-2xl font-medium text-center sm:pt-20 sm:text-4xl animate-typewriter">
      ¿Es Best Studio un centro para ti?
    </h2>
  </header>
  
  
  
  <div class="flex flex-col items-center justify-center w-full h-screen mt-4 mb-4 sm:flex-row sm:justify-around">
      <video
        controls
        crossorigin="anonymous"
        playsinline
        autoplay
        muted
        class="w-1/2 h-full sm:h-screen sm:w-auto"
      >
        <source src="./reel1.mp4" type="video/mp4">
      </video>
      <video
        controls
        crossorigin="anonymous"
        playsinline
        autoplay
        muted
        class="w-1/2 h-full mt-2 sm:h-screen sm:w-auto sm:mt-0"
      >
        <source src="./reel1.mp4" type="video/mp4">
      </video>
  </div>
</section>


