---
import ButtonAnimated from "./ButtonAnimated.astro";
---

<section id="coach" class="min-h-screen w-screen py-16 px-4 bg-black">
  <div class="container mx-auto text-white">
    <!-- Sección para Escritorio -->
    <div class="hidden xl:block">
      <div class="flex flex-col xl:flex-row xl:justify-between xl:space-x-10">
        <!-- Contenedor del Texto -->
        <div
          class="w-full xl:w-1/2 flex flex-col items-start justify-center mb-10"
        >
          <div class="text-left xl:text-left">
            <h2 class="text-5xl font-bold mb-6 animate-bounce">
              ¿Es Best Studio un centro para ti?
            </h2>
            <ol
              class="list-decimal list-inside mx-0 xl:mx-0 max-w-2xl space-y-6 leading-relaxed"
            >
              <li>No me motiva ninguna actividad para hacer deporte.</li>
              <li>Creo que necesito un cambio y empezar a cuidar mi salud.</li>
              <li>
                Busco un lugar donde realmente estén pendientes de mi y obtenga
                objetivos.
              </li>
              <li>
                Encontrar un lugar donde adquiera confianza y este rodeado de
                personas que valoren mi esfuerzo.
              </li>
            </ol>
            <h3 class="text-3xl font-bold mt-8 text-center">
              SI TE IDENTIFICAS CON ALGUNA,<br />¡BEST STUDIO ES PARA TÍ!
            </h3>
          </div>
          <div class="mt-8 w-full flex justify-center">
            <ButtonAnimated />
          </div>
        </div>

        <!-- Videos -->
        <div
          class="w-full xl:w-1/2 flex flex-col xl:flex-row justify-center xl:justify-between space-y-10 xl:space-y-0 xl:space-x-10"
        >
          <!--           <div class="text-center">
            <video controls crossorigin="anonymous" playsinline autoplay loop muted class="rounded-lg w-full shadow-lg border border-gray-700">
              <source src="./reel1.mp4" type="video/mp4" />
            </video>
            <h3 class="mt-4 text-lg font-bold">PAOLA</h3>
            <p class="text-gray-300">Miembro desde 2019</p>
          </div> -->
          <div class="text-center w-full">
            <div class="relative pb-9/16 w-full">
              <video
                autoplay
                controls
                crossorigin="anonymous"
                playsinline
                muted
                class="top-0 left-0 w-full h-full rounded-lg shadow-lg border border-gray-700 object-cover"
              >
                <source src="./coach.webm" type="video/webm" />
              </video>
            </div>
            <h3 class="mt-4 text-lg font-bold">CARLOS</h3>
            <p class="text-gray-300">Head Coach</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección para Móviles -->
    <div class="flex flex-col xl:hidden items-center space-y-6">
      <!-- Video del Atleta -->
      <!--       <div class="relative w-full text-center mb-6">
        <video controls crossorigin="anonymous" playsinline loop autoplay muted class="rounded-lg w-full">
          <source src="./reel1.mp4" type="video/mp4" />
        </video>
        <div class="absolute top-0 right-0 bg-black/70 text-white p-2 rounded">
          <p class="m-0 font-bold text-xs text-gray-300">MIEMBRO DESDE 2019</p>
          <h3 class="text-3xl text-bold font-bold m-0">PAOLA</h3>
        </div>
      </div> -->

      <!-- Texto -->
      <div class="w-full text-center mb-6 px-4">
        <h2 class="text-4xl font-bold mb-6 animate-bounce">
          ¿Es Best Studio un centro para ti?
        </h2>
        <ol class="list-decimal list-inside text-left mx-auto max-w-2xl">
          <li class="mb-6">
            No me motiva ninguna actividad para hacer deporte
          </li>
          <li class="mb-6">
            Creo que necesito un cambio y empezar a cuidar mi salud
          </li>
          <li class="mb-6">
            Busco un lugar donde realmente estén pendientes de mi y obtenga
            objetivos
          </li>
          <li class="mb-6">
            Encontrar un lugar donde adquiera confianza y este rodeado de
            personas que valoren mi esfuerzo
          </li>
        </ol>
        <h3 class="text-2xl font-bold mb-6 mt-8 text-center">
          SI TE IDENTIFICAS CON ALGUNA,<br />¡BEST STUDIO ES PARA TÍ!
        </h3>
        <div class="mb-6">
          <ButtonAnimated />
        </div>
      </div>

      <!-- Video del Entrenador -->
      <div class="relative w-full text-center mb-6">
        <video
          controls
          crossorigin="anonymous"
          playsinline
          loop
          autoplay
          muted
          class="rounded-lg w-full"
        >
          <source src="./coach.webm" type="video/webm" />
        </video>
        <div class="absolute top-0 right-0 bg-black/70 text-white p-2 rounded">
          <p class="m-0 font-bold text-xs text-gray-300">HEAD COACH</p>
          <h3 class="text-3xl text-bold font-bold m-0">CARLOS</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .animate-bounce {
    animation: bounce 2s infinite;
  }
</style>
