<section class="flex flex-col items-center justify-center bg-black min-h-screen ">
  <header class="mt-16">
    <h2
      class="text-white w-auto text-xl font-medium text-center sm:text-4xl"
    >
      ¿Es Best Studio un centro para ti?
    </h2>
  </header>

  <div
    class="flex flex-col items-center justify-center w-full h-full mt-2 mb-2 md:flex-row md:justify-around"
  >
    <video
      controls
      crossorigin="anonymous"
      playsinline
      autoplay
      muted
      class="w-1/2 md:w-1/3 h-auto md:max-h-96"
    >
      <source src="./reel1.mp4" type="video/mp4" />
    </video>
    <video
      controls
      crossorigin="anonymous"
      playsinline
      autoplay
      muted
      class="w-1/2 md:w-1/3 h-auto mt-2 md:mt-0"
    >
      <source src="./reel1.mp4" type="video/mp4" />
    </video>
  </div>
</section>

