<section class="text-white flex flex-col justify-center items-center p-4">
    <h1 class="pt-20 text-center text-4xl font-bold">CONTACTO</h1>
    <h2 class="text-xs sm:text-base text-center">Escríbenos y pasa a formar parte de<br/><strong>THE KING OF GYMS</strong><h2/>
</section>



<section class="text-white flex flex-col justify-center items-center text-center p-10">
    <article>
        <h2 class="text-2xl font-bold">Contáctanos</h2>
        <a href="mailto:info@beststudio.com" target="_blank" draggable="false" rel="noopener">info@beststudio.com</a>
        <br>
        <a href="tel:0034657710761">657 71 07 61</a>
        <br>
        <a href="https://api.whatsapp.com/send?phone=0034657710761">Whatsapp</a>
    </article>
    <article>
        <h2 class="text-2xl font-bold">Dirección</h2>
        <p>C/ Curtidores, nave 16, 23740</p> <h2>Andújar</h2>
        
    </article>

</section>
