---
import Footer from "./Footer.astro";
---

<section
id="expectations"
    class="bg-black min-h-screen w-screen flex flex-col justify-between"
>
    <div class="flex flex-col justify-between items-center p-4 mt-4 xl:flex-row xl:mt-20">
        <div
            class="flex flex-col justify-center items-center xl:items-start xl:w-1/2 xl:pr-4 mt-14 mb-4"
        >
                <h2 class="text-white text-4xl font-bold text-center mb-4">
                    Expectativas
                </h2>
                <p class="text-white text-lg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Delectus, voluptates! Corrupti nesciunt alias blanditiis
                    atque officiis nisi fugiat tenetur, sequi eos id dignissimos
                    quibusdam neque ullam eaque nobis? Eligendi, eum!
                </p>
        </div>
        <div class="flex justify-center mt-4 xl:w-1/2 xl:mt-0">
            <img
                class="w-auto h-auto object-contain"
                src="./fotoprincipal.jpg"
                alt="Foto equipo best studio"
            />
        </div>
    </div>

    <footer class="bg-black text-white bottom-0 w-screen">
        <Footer />
    </footer>
</section>
