---
import Instagram from "./Instagram.astro";
---

<footer
    class="bg-black text-center overflow-hidden relative flex flex-grow flex-nowrap justify-center border-t border-stroke"
>
    <nav>
        <ul
            class="flex justify-end items-center [&>li>a]:text-white [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2"
        >
            <Instagram class="p-6" />
            <li><a href="#">Best Studio ©</a></li>
            <li><a href="#">Localización</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</footer>
