---
import Logo from "./Logo.astro";
---

<header
    id="landing-header"
    class="py-2 md:py-4 lg:py-6 px-10 flex items-center fixed top-0 w-full justify-between text-white bg-black z-40"
>
    <a href="./">
        <!-- Enlace al inicio de la página -->
        <div class="flex flex-grow basis-0">
            <Logo />
        </div>
    </a>

    <nav class="flex flex-grow justify-end basis-0">
        <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li class="hidden xl:block sm:hidden relative group">
                <a href="#expectations" class="relative overflow-hidden">EXPECTATIVAS
                    <span class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-yellow-300 transition-all duration-300 group-hover:left-0 group-hover:w-full"></span>
                </a>
            </li>
            <li class="hidden xl:block sm:hidden nav-item relative group">
                <a href="#" class="relative overflow-hidden">INSTALACIONES
                    <span class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-yellow-300 transition-all duration-300 group-hover:left-0 group-hover:w-full"></span>
                </a>
                <div class="submenu absolute">
                    <ul>
                        <li><a href="#">GYM</a></li>
                        <li><a href="#">BOX</a></li>
                    </ul>
                </div>
            </li>
            <li class="hidden xl:block sm:hidden nav-item relative group">
                <a href="#clases" class="relative overflow-hidden">SABER MÁS
                    <span class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-yellow-300 transition-all duration-300 group-hover:left-0 group-hover:w-full"></span>
                </a>
                <div class="submenu absolute">
                    <ul>
                        <li><a href="#clases">CLASES</a></li>
                        <li><a href="#tarifas">TARIFAS</a></li>
                        <li><a href="#horario">HORARIO</a></li>
                    </ul>
                </div>
            </li>
            <li class="hidden xl:block sm:hidden relative group">
                <a href="#contact" class="relative overflow-hidden">CONTACTO
                    <span class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-yellow-300 transition-all duration-300 group-hover:left-0 group-hover:w-full"></span>
                </a>
            </li>
            <li>
                <a id="menu-btn" href="#">
                    <button class="xl:hidden">
                        <img class="h-6" src="/menu-icon.svg" alt="menu icon">
                    </button>
                </a>
            </li>
        </ul>
    </nav>


    <nav id="modal-menu" class="hidden xl:hidden flex flex-col bg-white fixed top-0 left-0 right-0 bottom-0 ">
        <button id="close-btn" class="w-screen flex justify-end p-5">
          <img  class="text-black h-6 " src="/close-icon.svg" alt="close image">
        </button>
          <ul
          class="flex flex-col mt-4 [&>li>a]:transition-colors [&>li]:m-3  [&>li>a]:flex [&>li>a]:justify-between [&>li>a]:duration-200 [&>li>a]:text-black [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-6 [&>li>a]:py-3 [&>li>a]:rounded-md [&>li>a]:w-full"
          >
            <li><a class="hover:bg-slate-100" href="#expectations">EXPECTATIVAS<img class="h-5" alt="arrow icon" src="/arrow-icon.svg"></a></li>
            <li><a class="hover:bg-slate-100" href="#">INSTALACIONES<img class="h-5" alt="arrow icon" src="/arrow-icon.svg"></a></li>
            <li><a class="hover:bg-slate-100" href="/about">SABER MÁS<img class="h-5" alt="arrow icon" src="/arrow-icon.svg"></a></li>
            <li><a class="hover:bg-slate-100" href="/contact">CONTACTO<img class="h-5" alt="arrow icon" src="/arrow-icon.svg"></a></li>
        </ul>
      </nav>

<!--     <div
        id="menu-backdrop"
        class={`
            absolute bg-red-100 text-blue-600 backdrop-blur-lg rounded
            translate-x-[var(--left)] translate-y-[var(--top)]
            left-0 top-0
            w-[var(--width)] h-[var(--height)]
            transition-all duration-500
            ease-in-out opacity-0 -z-10
          `}
    >
    </div> -->
</header>

<script>
    const menuBtn = document.getElementById("menu-btn");
    const modalMenu = document.querySelector("#modal-menu");
    const menuItems = modalMenu.querySelectorAll("li>a ");
    const closeBtn = document.querySelector("#close-btn");

    function toggleDropdownMenu() {
        modalMenu.classList.toggle("hidden");
    }

    menuBtn.addEventListener("click", toggleDropdownMenu);

    closeBtn.addEventListener("click", toggleDropdownMenu);

    menuItems.forEach((Item) => {
        Item.addEventListener("click", toggleDropdownMenu);
    });
</script>

<!-- <script>
    const listItem = document.querySelectorAll("#landing-header li");
    const menuBackDrop = document.querySelector(
        "#menu-backdrop",
    ) as HTMLElement;

    listItem.forEach((item) => {
        item.addEventListener("mouseenter", () => {
            const { left, top, width, height } = item.getBoundingClientRect();

            menuBackDrop.style.setProperty("--left", `${left}px`);
            menuBackDrop.style.setProperty("--top", `${top}px`);
            menuBackDrop.style.setProperty("--width", `${width}px`);
            menuBackDrop.style.setProperty("--height", `${height}px`);

            menuBackDrop.style.opacity = "1";
            menuBackDrop.style.visibility = "visible";
        });

        item.addEventListener("mouseleave", () => {
            menuBackDrop.style.opacity = "0";
            menuBackDrop.style.visibility = "hidden";
        });
    });
</script>

<script>
    const headerEl = document.querySelector("#landing-header") as HTMLElement;

    const observerOptions = {
        root: null,
        rootMargin: "0px", // en cuanto se vea el elemento
        threshold: 0.9, // porcentaje de visibilidad
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            const { isIntersecting } = entry;
            if (isIntersecting) {
                const color = entry.target.getAttribute("data-header-color");
                headerEl.style.color = color;
            }
        });
    }, observerOptions);

    const sectionElements = document.querySelectorAll(".landing-section");
    sectionElements.forEach((section) => observer.observe(section));
</script> -->

<style>
    /* Estilos específicos para el submenu */
    .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 2rem 2rem 2rem 4rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
        width: 100%; /* Ocupar todo el ancho del padre */
        text-align: center;

    }

    .submenu:hover {
        opacity: 1;
        visibility: visible;
    }

    .submenu ul li:not(:last-child) {
        margin-bottom: 1rem; /* Agregar margen inferior a todos los elementos menos al último */
    }

    .nav-item:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
</style>
