<section
  class="bg-black h-screen w-screen text-center overflow-hidden relative"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2
        id="main-heading"
        class="text-white text-bold pt-40 text-8xl xl:text-9xl font-bold opacity-0 transition-opacity duration-1000 delay-1000"
      >
        KING OF GYMS
      </h2>
      <p
        id="sub-heading"
        class="text-white text-4xl xl:text-6xl opacity-0 transition-opacity duration-1000 delay-1000"
      >
        Crece entrenando, mejora tu vida
      </p>
    </header>

    <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-28">
      <div>
        <button class="button">
          <a href="https://api.whatsapp.com/send?phone=34657710761">
            CONTACTA AHORA</a
          >
        </button>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 w-full">
    <video
      id="bg-video"
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      poster="primer_fotograma.jpg"
    >
      <source src="VÍDEO_BEST-STUDIO.mp4" type="video/mp4" />
    </video>
  </div>
</section>

<script>
  setTimeout(() => {
    const mainHeading = document.getElementById("main-heading");
    const subHeading = document.getElementById("sub-heading");

    if (mainHeading && subHeading) {
      mainHeading.classList.remove("opacity-0");
      subHeading.classList.remove("opacity-0");
    }
  }, 1500);
</script>

<style>
  /* Estilos para el botón */
  @keyframes floating {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }

  @keyframes particles {
    0% {
      transform: translateZ(0, 0);
      opacity: 1;
    }

    100% {
      transform: translate(190px, 50px);
      opacity: 0;
    }
  }

  .button {
    position: relative;
    background: rgba(57, 57, 57, 0.7);
    display: inline-block;
    background-size: 200% auto;
    border: 1px solid;
    border-radius: 25px;
    color: white;
    padding: 10px 48px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    animation: floating 3s ease-in-out infinite;
    transition:
      color 0.3s ease,
      box-shadow 0.3s ease,
      transform 0.3s ease;
  }

  .button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 30px;
    box-shadow: 0 0 20px #fde047;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    width: 5px;
    height: 5px;
    background: #fde047;
    animation: particles 2s infinite;
  }

  .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .button:hover {
    color: #e1c539;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
    background-position: right center;
    background: linear-gradient(to right, #e1c539, #fde047);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
