---
import PriceCard from "./PriceCard.astro"

const basicPrice = {
  title: "BASIC",
  description: "Para aquellos deportistas que se inician y buscan un entrenamiento personalizado y efectivo",
  price: 35,
  features: [
    "2 sesiones semanales",
    "1 sesión extra el sábado",
  ]
}

const regularPrice = {
  title: "REGULAR",
  description: "Ideal para deportistas que desean mejorar su rendimiento y forma física",
  price: 45,
  features: [
    "3 sesiones semanales",
    "1 sesión extra el sábado",
  ]
}

const proPrice = {
  title: "PRO",
  description: "Diseñado para atletas que buscan maximizar su rendimiento con entrenamientos intensivos",
  price: 52,
  features: [
    "4 sesiones semanales",
    "1 sesión extra el sábado",
  ]
}

const bestPrice = {
  title: "BEST",
  description: "La mejor opción para los que disponen de tiempo y quieran un acceso ilimitado a todas las sesiones de entrenamiento",
  price: 58,
  features: [
    "Acceso ilimitado",
  ]
}

const gymPrice = {
  title: "GYM",
  description: "Si lo tuyo es la musculación, esta es tu tarifa",
  price: 45,
  features: [
    "Acceso ilimitado a la zona de máquinas",
  ]
}

const funcgymPrice = {
  title: "TARIFAS ESPECIALES",
  features: [
    "Combina entrenamiento funcional y gym con tarifas exclusivas",
    "Programación especial para entrenamiento funcional, gym o powerlifting",
    "Disponemos de bonos de 5 y 10 sesiones"
  ]
}
---
<section id="tarifas">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
        <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
            <h2 class="mb-4 text-4xl lg:text-4xl font-extrabold tracking-tight text-gray-200 dark:text-white">TARIFAS</h2>
            <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Elige la tarifa que mejor se adapta a tu disponibilidad y alcanza tus objetivos con nosotros</p>
        </div>
        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">

            <PriceCard {...basicPrice} />
            <PriceCard {...regularPrice} />
            <PriceCard {...proPrice} />
            <PriceCard {...bestPrice} />
            <PriceCard {...gymPrice} />
            <PriceCard {...funcgymPrice} />
        </div>
    </div>
</section>