<div class="container mx-auto p-4 pt-40">
    <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
      <div class="hidden md:block">
        <div class="text-center py-2 border-b border-gray-700 text-white">Lunes</div>
        <div class="text-center py-2 border-b border-gray-700 text-white">Martes</div>
        <div class="text-center py-2 border-b border-gray-700 text-white">Miércoles</div>
        <div class="text-center py-2 border-b border-gray-700">Jueves</div>
        <div class="text-center py-2 border-b border-gray-700">Viernes</div>
        <div class="text-center py-2 border-b border-gray-700">Sábado</div>
      </div>
      <div class="md:col-span-5">
        <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
          <div class="col-span-1">
            <div class="bg-blue-500 p-2 mb-2 rounded">Yoga - 9:00</div>
            <div class="bg-green-500 p-2 mb-2 rounded">Pilates - 10:00</div>
            <div class="bg-red-500 p-2 mb-2 rounded">Spinning - 11:00</div>
          </div>
          <div class="col-span-1">
            <div class="bg-yellow-500 p-2 mb-2 rounded">Boxeo - 9:00</div>
            <div class="bg-purple-500 p-2 mb-2 rounded">Zumba - 10:00</div>
            <div class="bg-orange-500 p-2 mb-2 rounded">HIIT - 11:00</div>
          </div>
          <div class="col-span-1">
            <div class="bg-pink-500 p-2 mb-2 rounded">Cardio - 9:00</div>
            <div class="bg-teal-500 p-2 mb-2 rounded">CrossFit - 10:00</div>
            <div class="bg-indigo-500 p-2 mb-2 rounded">Aeróbicos - 11:00</div>
          </div>
          <div class="col-span-1">
            <div class="bg-lime-500 p-2 mb-2 rounded">Natación - 9:00</div>
            <div class="bg-amber-500 p-2 mb-2 rounded">Kickboxing - 10:00</div>
            <div class="bg-fuchsia-500 p-2 mb-2 rounded">Baile - 11:00</div>
          </div>
          <div class="col-span-1">
            <div class="bg-rose-500 p-2 mb-2 rounded">Yoga - 9:00</div>
            <div class="bg-cyan-500 p-2 mb-2 rounded">Pilates - 10:00</div>
            <div class="bg-emerald-500 p-2 mb-2 rounded">Spinning - 11:00</div>
          </div>
          <div class="col-span-1">
            <div class="bg-blue-600 p-2 mb-2 rounded">Boxeo - 9:00</div>
            <div class="bg-green-600 p-2 mb-2 rounded">Zumba - 10:00</div>
            <div class="bg-red-600 p-2 mb-2 rounded">HIIT - 11:00</div>
          </div>
        </div>
      </div>
    </div>
  </div>