<table class="w-full border-collapse shadow-lg">
    <thead>
      <tr class="bg-blue-600 text-white">
        <th class="p-4 border">Horas</th>
        <th class="p-4 border">Lunes</th>
        <th class="p-4 border">Martes</th>
        <th class="p-4 border">Miércoles</th>
        <th class="p-4 border">Jueves</th>
        <th class="p-4 border">Viernes</th>
        <th class="p-4 border">Sábado</th>
        <th class="p-4 border">Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">8:00-9:15</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border" rowspan="2">11:00 - 12:00 OPEN/MACHINES</td>
        <td class="p-4 border" rowspan="8"></td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">9:30 - 10:30</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">10:30 - 11:30</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border" rowspan="2">11:30 - 12:30 OPEN/MACHINES</td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">11:30 - 12:30</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">12:45 - 13:45</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border" rowspan="2">12:00 - 13:00 OPEN/MACHINES</td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">14:00 - 15:00</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">15:00-16:00</td>
        <td class="p-4 border text-red-600 font-bold">SWEAT (45')</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border text-red-600 font-bold">SWEAT (45')</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">16:00-17:00</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
        <td class="p-4 border">OPEN/MACHINES</td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">17:00-18:00</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border"></td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">18:00-19:00</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border">STRENGTH</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border"></td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">19:00-20:00</td>
        <td class="p-4 border">STRENGTH</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border"></td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">20:00-21:00</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border">STRENGTH</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border"></td>
      </tr>
      <tr class="odd:bg-gray-100 even:bg-white">
        <td class="p-4 border">21:00-22:00</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-red-600 font-bold">SWEAT (45')</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border text-red-600 font-bold">SWEAT (45')</td>
        <td class="p-4 border text-blue-600 font-bold">WOD/OPEN/MACHINES</td>
        <td class="p-4 border"></td>
      </tr>
    </tbody>
  </table>
  </body>
  </html>
  